{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<style>
  body {
    background-image: url('https://tse4.mm.bing.net/th?id=OIG1.0PV_N_NlcnZatV.kZ_mr&pid=ImgGn');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Login</h2>
    

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Log in</button>
      </form>
      
    </div>
    <div class="col-md-7 col-lg-5">
      <h2 class="join-message">Sign up</h2>
    

      <!-- <form method="POST" id="user_form"> -->
        <p>Are you a new user? sign up 👇</p>
        <a href="/signup">
        <button class="btn btn-primary btn-block btn-lg">Sign up</button>
        </a>
      <!-- </form> -->
    </div>
  </div>

{% endblock %}